@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-mono antialiased;
    background-image: 
      linear-gradient(to right, #1a1a1a 1px, transparent 1px),
      linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center center;
  }

  * {
    @apply border-border;
  }
}
